<a (click)="handleAddClick(item)">
    <div class="plate">
        <figure class="plate-img m-0">
            <img [src]="item.image ? item.image : 'assets/images/no-image.png'" alt />
        </figure>
        <div class="text-center pt-3">
            <h6 class="mb-0">{{item.name}}</h6>
            <div class="py-2">
                <span>{{item.price}} {{ item.currency_symbol }}</span>
            </div>
            @if (showInlineQty) {
            <div class="qty mt-1 d-flex justify-content-center align-items-center" (click)="$event.stopPropagation()">
                <span class="pro-dec me-3" (click)="decreaseInlineQty()">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                </span>
                <span class="num fs-5 mx-2">{{ inlineQuantity }}</span>
                <span class="pro-inc ms-3" (click)="increaseInlineQty()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
            </div>
            <button class="btn mt-1" (click)="$event.stopPropagation(); addDirectToCart(item)">
                أضف إلى العربة
            </button>
            } @else {
            <button class="btn">
                + إضافة
            </button>
            }
        </div>
    </div>
</a>

