<div id="printSection" class="printSection">
  <div class="receipt-content">
    <!-- Header Section -->
    <div class="branch-info" *ngFor="let item of data.branchDetails">
    <div class="header-section">
      <div class="logo-container">
        <img src="assets/images/logo-with-white-bg.png" alt="Logo" class="logo-img" />
      </div>
      @if (data.isFinal == true) {
        <p class="final bg_black">نهائي</p>
        }

        <p class="branch-name">{{ item.branch_name }}</p>
        <p class="branch-address">العنوان : {{ item.branch_address }}</p>
        <!-- <p class="branch-phone">رقم الهاتف : {{ item.branch_phone }}</p> -->

      <br/>
      <h6>
        {{ data.invoices[0]?.order_status === 'cancelled' ? 'ملغي (Cancelled)' : 'جديد (New)' }}
        <span *ngIf="data.invoices[0]?.order_type"> - {{ getOrderTypeLabel(data.invoices[0]?.order_type) }} </span>
      </h6>

        <!-- Divider -->
    <hr class="divider" />

      <!-- Order Number Box -->
      <div class="order-number-box" *ngIf="data.branchDetails && data.branchDetails[0]">
        <h3> رقم الطلب :{{ data.branchDetails[0].order_number }}</h3>
      </div>
       <p> وقت الطباعة  : <span style="display: inline-flex; direction: ltr; align-items: center;"><span>{{ getPrintTimeNow().timeStr }}</span><span style="width: 20px;"></span><span>{{ getPrintTimeNow().dateStr }}</span></span></p>
    </div>

    <!-- Order Meta Data -->
    <div class="order-info-section">

      <div class="info-row" *ngIf="data.branchDetails[0]?.invoice_number">
        <span class="d-label">رقم الفاتورة : {{ data.branchDetails[0].invoice_number }} </span>
        <span class="d-value" *ngIf="data.invoices[0]?.order_type === 'dine-in'">طاولة :  {{ getTableNumber() }}</span>
      </div>

      <div class="info-row">
        <span class="d-label">وقت الطباعة :</span>
        <span class="d-value" style="display: inline-flex; direction: ltr; align-items: center;"><span>{{ getOrderDateTimeSeperated().timeStr }}</span><span style="width: 20px;"></span><span>{{ getOrderDateTimeSeperated().dateStr }}</span></span>
      </div>
      <div class="info-row">
        <span class="d-label">وقت إنشاء الطلب :</span>
        <span class="d-value" style="display: inline-flex; direction: ltr; align-items: center;"><span>{{ getOrderPlacedAtSeparated().timeStr }}</span><span style="width: 20px;"></span><span>{{ getOrderPlacedAtSeparated().dateStr }}</span></span>
      </div>

      <div class="info-row">
        <span class="d-label">منشئ الطلب :</span>
        <span class="d-value">{{ data.created_by_username || data.invoices?.[0]?.created_by_username || '---' }}</span>
      </div>

      <div class="info-row">
        <span class="d-label">مغلق الطلب :</span>
        <span class="d-value">{{ data.closed_by_username || data.invoices?.[0]?.closed_by_username || '---' }}</span>
      </div>

      <!-- <div class="info-row">
        <span class="info-label">نوع الطلب :</span>
        <span class="d-value">{{ getOrderTypeLabel(data.order_type) }}</span>
      </div> -->


      <!-- <div class="info-row" *ngIf="data.invoices[0]?.cashier_info">
        <span class="info-label">الكاشير / Cashier:</span>
        <span class="d-value">{{ data.invoices[0].cashier_info.first_name }} {{ data.invoices[0].cashier_info.last_name }}</span>
      </div> -->
    </div>

    <!-- DELIVERY SPECIFIC INFO -->
    <div class="" >

        <!-- Driver Info -->
      <div class="summary-row" *ngIf="isDelivery()">
        <span class="d-label">اسم الطيار :</span>
        <span class="d-value">{{ getDriverName() }}</span>
      </div>
      <div class="summary-row" *ngIf="data.invoices[0]['order_type'] == 'Delivery'">
        <span class="d-label">حالة الطلب  :</span>
        <span class="d-value">{{ getTrackingStatusTranslation(data.invoices[0]['tracking-status']) }}</span>
      </div>
      <hr class="divider"/>
      <div class="summary-row">
        <span class="d-label">Invoice : {{ data.branchDetails[0].invoice_number }} </span>
        <span class="d-value" *ngIf="data.invoices[0]?.order_type === 'dine-in'"> {{ getTableNumber() }} : Table </span>

      </div>
      <div class="summary-row">
        <span class="d-label">
           <span style="display: inline-flex; direction: ltr; align-items: center;">
             {{ getOrderPlacedAtSeparated().dateStr }} <span style="width: 20px;"></span> {{ getOrderPlacedAtSeparated().timeStr }}
           </span>
        </span>
        <span class="d-value">:Created at </span>
      </div>
      <div class="summary-row" *ngIf="isDelivery()">
        <span class="d-label">{{ getDriverName() }}</span>
        <span class="d-value">:Delivery Agent</span>
      </div>
      <div class="summary-row" *ngIf="data.invoices[0]['order_type'] == 'Delivery'">
        <span class="d-label">{{getTrackingStatusTranslationEn(data.invoices[0]['tracking-status'])}}</span>
        <span class="d-value">:Order Status</span>
      </div>

      <!-- <div class="delivery-row">
        <span class="d-label">تليفون الطيار :</span>
        <span class="d-value">{{ getDriverPhone() }}</span>
      </div> -->
      <hr class="divider" *ngIf="data.invoices[0]?.order_type !== 'dine-in'" />
      <!-- Customer Info -->
      <div class="summary-row" *ngIf="data.invoices[0]?.order_type !== 'dine-in'">
        <span class="d-label">اسم العميل:</span>
        <span class="d-value">{{ getCustomerName() }}</span>
      </div>
      <div class="summary-row" *ngIf="data.invoices[0]?.order_type !== 'dine-in'">
        <span class="d-label">رقم العميل:</span>
        <span class="d-value">{{ getCustomerPhone() }}</span>
      </div>
      <div class="summary-row" *ngIf="data.invoices[0]['order_type'] == 'Delivery'" >
        <span class="d-label">عنوان التوصيل:</span>
      </div>
      <div class="summary-row" *ngIf="data.invoices[0]['order_type'] == 'Delivery'" >
       {{ getDeliveryAddress() }}
      </div>


    </div>

    <hr class="divider" />

    <!-- ITEMS TABLE -->
    <table class="products-table">
        <tr>
          <td class="">المنتج </td>
          <td class="tr-first">الكمية</td>
          <td class="tr-first">سعر الوحدة </td>
          <td class="tr-first">السعر  </td>
        </tr>
        <tr class="divider-row">
            <td colspan="4"><hr class="divider"></td>
        </tr>
        <ng-container *ngFor="let item of data.invoices[0]?.orderDetails; let i = index; let last = last">
          <tr>
            <td class="col-item">
              <div class="item-name">{{ item.dish_name || item.name }}</div>
              <div class="item-name" *ngIf="getDishNameEn(item)">{{ getDishNameEn(item) }}</div>
              <div class="item-meta" *ngIf="getSize(item)">{{ getSize(item) }}</div>
              <div class="item-meta" *ngIf="getSizeEn(item)">({{ getSizeEn(item) }})</div>
              <div class="item-meta" *ngFor="let addon of getAddons(item)">
                + {{ addon.addon_name }}{{ addon.quantity > 1 ? ' × ' + addon.quantity : '' }}
                <div class="item-meta" *ngIf="addon.addon_name_en">({{ addon.addon_name_en }})</div>
              </div>
              <div class="item-meta note" *ngIf="item.note">
                {{ item.note }}
              </div>
            </td>
            <td class="col-qty">{{ item.quantity }}</td>
            <td class="col-price">
              {{ item.total_dish_price / item.quantity | number }}
            </td>
            <td class="col-price">
              {{ item.total_dish_price | number }} {{ getCurrencySymbol() }}
            </td>
          </tr>
          <tr *ngIf="!last" class="divider-row">
            <td colspan="4"><hr class="divider"></td>
          </tr>
        </ng-container>
    </table>

    <hr class="divider" />
    <!-- TOTALS -->
    <div class="summary-section" *ngFor="let summary of data.invoice_summary">
      <div class="summary-row">
        <span class="d-label">المجموع</span>
        <span class="d-value">{{ summary.subtotal_price_before_coupon  | number:'1.2-2' }} {{ summary.currency_symbol }}</span>
      </div>

       <div class="summary-row">
        <span class="d-label">الخدمة({{ summary.service_percentage }}%) </span>
        <span class="d-value">{{ summary.service_fees | number:'1.2-2' }} {{ summary.currency_symbol }}</span>
      </div>


      <div class="summary-row" *ngIf="!summary.tax_application && (summary.tax_percentage != null && summary.tax_percentage !== '')">
        <span class="d-label">ضريبة القيمة المضافة ({{ summary.tax_percentage }}%)</span>
        <span class="d-value">{{ summary.tax_value ?? 0 | number:'1.2-2' }} {{ summary.currency_symbol }}</span>
      </div>
      <div class="summary-row" *ngIf="summary.tax_application">
        <span class="d-label">سعر الوجبات يشتمل على ضريبة القيمة المضافة</span>
      </div>

      <div class="summary-row" *ngIf="summary.coupon_value && summary.coupon_value > 0">
        <span class="d-label"> الخصم <small *ngIf="summary.coupon_title">({{ summary.coupon_title }})</small>:</span>
        <span class="d-value">-{{ summary.coupon_value | number:'1.2-2' }} {{ summary.currency_symbol }}</span>
      </div>

      <div class="summary-row" *ngIf="isDelivery()">
        <span class="d-label">رسوم التوصيل</span>
        <span class="d-value">{{ summary.delivery_fees | number:'1.2-2' }} {{ summary.currency_symbol }}</span>
      </div>

      <div class="summary-row grand-total">
        <span class="d-label">الإجمالي</span>
        <span class="d-value total">{{ summary.total_price | number:'1.2-2' }} {{ summary.currency_symbol }}</span>
      </div>
    </div>

    <!-- PAYMENT INFO -->
    <div class="payment-section">
       <div class="summary-row">
        <span class="d-label">حالة الدفع</span>
        <span class="d-value">{{ (data.invoices[0]?.transactions[0]?.payment_status === "paid") ? "مدفوع" : "غير مدفوع" }}</span>
      </div>

      <ng-container *ngIf="data.invoices[0]?.transactions[0]?.payment_status === 'paid'">
        <div class="summary-row" *ngFor="let transaction of data.invoices[0]?.transactions">
          <span class="d-label">الدفع - {{ getPaymentMethod(transaction.payment_method) }}</span>
          <span class="d-value">{{ transaction.paid }} {{ getCurrencySymbol() }}</span>
        </div>
      </ng-container>
      </div>

      <hr class="divider" />
      <!-- FOOTER -->
    <div class="footer-section">
      <h6 class="item-count">عدد المنتجات: {{ getTotalProductCount() }}</h6>
      <hr class="divider" />
      <h6 class="thank-you">شكراً لزيارتكم</h6>
    </div>
    <br/>
  </div>
</div>
