<div class="p-3" appShowLoaderUntilPageLoaded [isReady]="loading">
  <nav class="inner-header">
    <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">الفواتير</li>
        <li class="breadcrumb-item active" aria-current="page">فاتورة</li>
      </ol>
    </nav>
  </nav>
  <div class="d-flex gap-1 mb-3">
    <!-- <button class="btn fs-6 rounded-4" (click)="printInvoice()">
      <i class="fas fa-print ms-1"></i> طباعة الفاتورة
    </button> -->

    <!-- <app-select   [options]="printOptions"></app-select> -->
    <!-- Confirm Dialog -->


    <!-- Print Button -->
    <button pButton type="button" label="طباعة الفاتورة" icon="pi pi-print" (click)="onPrintButtonClick()"
      [disabled]="isPrinting" class="fs-6 rounded-4"></button>

    <!-- <button
  class="btn fs-6 rounded-4"
  [disabled]="isPrinting"
  (click)="printInvoice()"
>
  <span *ngIf="!isPrinting">
    <i class="fas fa-print ms-1"></i> طباعة الفاتورة
  </span>
  <span *ngIf="isPrinting">
    <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
    جاري الطباعة...
  </span>
</button> -->

    <!-- <button class="btn fs-6 bg-success rounded-4" (click)="saveOrder()" *ngIf="
        invoices && invoices.length > 0 && invoices[0].order_type === 'Delivery' && isShow
      ">
      <i class="fa-solid fa-floppy-disk ms-1"></i> حفظ التعديلات
    </button> -->
  </div>
  <div #printedPill class="printed-pill">
    <ng-container>
      <div class="card px-4 py-2 my-2" *ngFor="let item of branchDetails">
        <div class="card-img">
          <img src="assets/images/logo-with-white-bg.png" alt="Placeholder Logo" />
        </div>
        <h5>
          <i class="fas fa-file-alt main-color fs-4 ps-2"></i>معلومات الفرع
        </h5>

        <p class="fw-bold" *ngIf="
            invoices &&
            invoices.length > 0 &&
            invoices[0].order_type === 'Delivery' &&
            isShow
          ">
          حالة الطلب :
          <small class="btn-static-warning badge text-dark">
            <i class="fa-solid fa-location-dot ms-1"></i>
            {{ getTrackingStatusTranslation(trackingStatus) }}
          </small>
        </p>
        <!-- <div
          class="d-flex my-2 gap-4"
          *ngIf="
            invoices &&
            invoices.length > 0 &&
            invoices[0].order_type === 'Delivery' && isShow
          ">
          <button class="fs-6 rounded-4 w-50 btn" [ngClass]="{
              'btn-static-main': trackingStatus === 'on_way',
              'btn-transparent border-1': trackingStatus !== 'on_way'
            }" (click)="changeTrackingStatus('on_way')">
            في الطريق
          </button>

          <button class="fs-6 rounded-4 w-50 btn" [ngClass]="{
              'btn-static-main': trackingStatus === 'delivered',
              'btn-transparent border-1': trackingStatus !== 'delivered'
            }" (click)="changeTrackingStatus('delivered')">
            تم التوصيل
          </button>
        </div>  -->

        <p>
          <span class="fw-bold">عنوان الفرع :</span> {{ item.branch_address }}
        </p>
        <div class="d-flex gap-5">
          <p><span class="fw-bold">التاريخ :</span> {{ date }}</p>
          <p><span class="fw-bold">الساعة :</span>{{ time }}</p>
        </div>
        @if(invoices[0].is_refund){
        <p>
          <span class="fw-bold">رقم المرتجع :</span> {{ item.invoice_number }}
        </p>
        <a class="text-decoration-underline mb-3" [routerLink]="'/pill-details/' + invoices[0].original_invoice_id"
          routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">

          <span class="fw-bold">رقم الإيصال :</span> {{ invoices[0].original_invoice_number }}
        </a>
        <p>
          <span class="fw-bold">نوع المرتجع :</span>
          {{ invoices[0].return_type === 'partial' ? 'جزئي' : invoices[0].return_type === 'full' ? 'كلي' :
          invoices[0].return_type }}
        </p>

        }@else {
        <p>
          <span class="fw-bold">رقم الإيصال :</span> {{ item.invoice_number }}
        </p>
        }
        <p><span class="fw-bold">رقم الطلب :</span> {{ item.order_number }}</p>

        <p *ngIf="
            invoices &&
            invoices.length > 0 &&
            invoices[0].order_type === 'dine-in'
          ">
          <span class="fw-bold">رقم الطاولة :</span> {{ item.table_number }}
        </p>
        <p>
          <span class="fw-bold">رقم التليفون :</span> {{ item.branch_phone }}
        </p>
      </div>
    </ng-container>

    <div class="card px-4 py-2 my-2" *ngIf="
        invoices && invoices.length > 0 && invoices[0].order_type === 'Delivery'
      ">
      <h5>
        <i class="fas fa-file-alt main-color fs-4 ps-2"></i>معلومات التوصيل
      </h5>

      <p v-if="addresDetails.client_name">
        <span class="fw-bold">الاسم :</span>
        {{ addresDetails.client_name }}
      </p>
      <p v-if="addresDetails.client_address || addresDetails.branch_name">
        <span class="fw-bold">العنوان :</span>
        {{ addresDetails.client_address ?? "غير متوفر" }}
        @if(addresDetails.branch_name){
        , {{ addresDetails.branch_name}}
        }
      </p>

      <p v-if="addresDetails.address_phone">
        <span class="fw-bold">رقم الهاتف :</span>
        {{ addresDetails.address_phone}}
      </p>
      <p>
        <span class="fw-bold" *ngIf="invoices[0].delivery_name">اسم الطيار :</span>
        {{ invoices[0].delivery_name }}
      </p>
    </div>

    <div class="card p-2 my-2">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <h5>
                <i class="fas fa-file-alt main-color fs-4 ps-2"></i> تفاصيل
                الطلب
              </h5>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <div *ngFor="let item of orderDetails[0]"
                class="d-flex justify-content-between px-1 mb-1 align-items-start">
                <div class="d-flex flex-column">
                  <h6>
                    <span class="badge bg-lightgray text-dark ms-2">
                      {{ item.quantity }}
                    </span>
                    x
                    <span> {{ item.dish_name }} </span>
                  </h6>
                  <h6 class="text-muted mx-5 fw-medium" *ngIf="item.size">
                    الحجم: {{ item.size }}
                  </h6>
                  <h6 class="text-muted mx-5 fw-medium" *ngIf="item.addons.length>0"> الاضافات :
                    <span *ngFor="let addon of item.addons; let last = last">
                      <span>{{ addon.addon_name }}<span *ngIf="!last">، </span></span>
                    </span>

                  </h6>
                  <h6 class="text-muted mx-5 fw-medium" *ngIf="item.note">
                    ملاحظات: {{ item.note }}
                  </h6>
                </div>
                <h6 class="fw-bold">
                  <span>{{ item.total_dish_price }}
                    {{ invoiceSummary[0].currency_symbol }}</span>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card px-4 py-2 my-2">
      <h5><i class="fas fa-file-alt main-color fs-4 ps-2"></i>معلومات الدفع</h5>
      <div *ngIf="
          invoices &&
          invoices.length > 0 &&
          invoices[0].order_type === 'Delivery' &&
          isShow
        ">
        <!-- <div class="d-flex gap-4">
          <button
            class="fs-6 rounded-4 w-50 btn"
            [ngClass]="{
              'btn-static-main': paymentStatus === 'unpaid',
              'btn-transparent border-1': paymentStatus !== 'unpaid'
            }" (click)="changePaymentStatus('unpaid')">
            غير مدفوعة
          </button>

          <button class="fs-6 rounded-4 w-50 btn" [ngClass]="{
              'btn-static-main': paymentStatus === 'paid',
              'btn-transparent border-1': paymentStatus !== 'paid'
            }" (click)="changePaymentStatus('paid')">
            مدفوعة
          </button>
        </div>  -->

        <!-- Show selected status -->
      </div>

      <div class="d-flex justify-content-between align-items-center py-3" *ngIf="invoices && invoices.length > 0">
        <h5 class="mb-0" *ngIf="invoices[0].transactions.length == 1">
          <span class="badge bg-success text-white">
            الدفع :
            {{
            invoices[0]?.transactions[0].payment_method === "credit"
            ? "أونلاين"
            : "كاش"
            }}
          </span>
        </h5>

        <div class="d-flex align-items-center">
          <p *ngIf="paymentStatus" class="mb-0 fw-bold">
            {{ paymentStatus === "paid" ? "مدفوعة" : "غير مدفوعة" }}
          </p>
        </div>
      </div>
      <!-- Cash - visa -->
      <div *ngIf="invoices && invoices.length > 0 && invoices[0]?.transactions?.length > 1">
        <div *ngFor="let inv of invoices[0]?.transactions">
          <div class="d-flex justify-content-between align-items-center my-1 fw-bold"
            *ngIf="invoices[0]?.transactions[0]?.payment_status == 'paid'">
            <div>
              {{ inv.payment_method === "cash" ? " الكاش" : " الفيزا" }}
            </div>
            <div>{{ inv.paid }} {{ invoices[0].currency_symbol }}</div>
          </div>
        </div>
      </div>
      <!-- Cash - visa -->
    </div>

    <div class="card px-4 py-2 my-2" *ngFor="let item of invoiceSummary">
      <h5><i class="fas fa-file-alt main-color fs-4 ps-2"></i> الفاتورة</h5>
      <div class="d-flex justify-content-between px-2 mb-1">
        <h6>مجموع الطلب</h6>
        <h6>
          <span>{{ invoices[0]?.invoice_summary.subtotal_price_before_coupon }}
            {{ item.currency_symbol }}</span>
        </h6>
      </div>

      <div class="d-flex justify-content-between px-2 mb-1 main-color" *ngIf="
          item.tax_application !== 0 &&
          item.coupon_value !== '0.00' &&
          item.coupon_value !== 0
        ">
        <h6>كوبون خصم
          <span class="btn-static-secondary p-1 rounded">{{ invoices[0].invoice_summary.coupon_title
            }} </span>
        </h6>
        <h6>
          -
          <span *ngIf="couponType !== 'percentage'">
            {{ item.coupon_value }} {{ item.currency_symbol }}
          </span>
          <span *ngIf="couponType === 'percentage'">
            {{ item.coupon_value }} {{ item.currency_symbol }}
          </span>
        </h6>
      </div>
      <div class="d-flex justify-content-between px-2 mb-1" *ngIf="item.service_percentage">
        <h6>
          رسوم الخدمة
          <span class="main-color">
            بنسبة {{ item.service_percentage }} %
          </span>
        </h6>
        <h6>
          <span>{{ item.service_fees }} {{ item.currency_symbol }}</span>
        </h6>
      </div>

      <div class="d-flex justify-content-between px-2 mb-1" *ngIf="item.delivery_fees">
        <h6>رسوم التوصيل</h6>
        <h6>
          <span>{{ item.delivery_fees }} {{ item.currency_symbol }}</span>
        </h6>
      </div>
      <!-- <div class="px-2 mb-1" *ngIf="item.tax_application">
        <h6>سعر الوجبات يشتمل على ضريبة القيمة المضافة</h6>
      </div> -->

      <div class="px-2 mb-1" *ngIf="!item.tax_application">
        <h6>
          تضاف ضريبة القيمة المضافة
          <span class="main-color"> بنسبة {{ item.tax_percentage }}% </span>
          بمعنى اخر {{ item.tax_value }} {{ item.currency_symbol }}
        </h6>
      </div>
      <div class="d-flex flex-column">
        <div class="px-2 mb-1" *ngIf="item.tax_application">
          <h6>سعر الوجبات يشتمل على ضريبة القيمة المضافة</h6>
        </div>

        <hr />

        <div class="d-flex justify-content-between px-2 mb-1">
          <h4 class="mb-0" style="font-weight: bold !important">
            المجموع الكلى
          </h4>
          <h6 class="fw-bold mb-0">
            <span>{{ item.total_price }} {{ item.currency_symbol }}</span>
          </h6>
        </div>
      </div>

      <!-- tips -->
    <div class="tips-section" *ngIf="invoiceTips.length > 0">
      <hr />
      <div *ngFor="let tip of invoiceTips" class="mb-3">
        <div class="d-flex justify-content-between px-2 mb-1">
          <h5 class="mb-0 fw-bold">
            الدفع - {{ tip.payment_method === 'cash' ? 'كاش' : 'فيزا' }}
          </h5>
          <h6 class="fw-bold mb-0">
            <span>{{ tip.payment_amount | number: '1.2-2' }} {{
              item.currency_symbol || 'ج.م' }}</span>
          </h6>
        </div>

        <div class="d-flex justify-content-between px-2 mb-1">
          <h5 class="mb-0 fw-bold">
            المبلغ الباقى للعميل
          </h5>
          <h6 class="fw-bold mb-0">
            <span>{{ tip.returned_amount | number: '1.2-2' }} {{
              item.currency_symbol || 'ج.م' }}</span>
          </h6>
        </div>

        <div class="d-flex justify-content-between px-2 mb-1">
          <h5 class="mb-0 fw-bold">
            الاكرامية
          </h5>
          <h6 class="fw-bold mb-0">
            <span>{{ tip.tip_amount | number: '1.2-2' }} {{
              item.currency_symbol || 'ج.م' }}</span>
          </h6>
        </div>
        <div class="d-flex justify-content-between px-2 mb-1">
          <h5 class="mb-0 fw-bold">
            المجموع مع الاكرامية
          </h5>
          <h6 class="fw-bold mb-0">
            <span>{{ tip.total_with_tip | number: '1.2-2' }} {{
              item.currency_symbol || 'ج.م' }}</span>
          </h6>
        </div>
      </div>

      <!-- dalia end -->
    </div>

      <div class="text-center mb-1">
        <h5>شكرا لك علي وقتك وثقتك بنا</h5>
      </div>
    </div>
  </div>
</div>

<!-- Hidden Printable Section -->
<div id="printSection" class="d-none printSection p-0">
  <div class="px-4 py-2 my-2" *ngFor="let item of branchDetails">
    <div class="text-center border-bottom-dotted mb-4">
      <div class="card-img">
        <img src="assets/images/logo-with-white-bg.png" alt="مطعم الكوت" class="img-fluid" />
        @if (isFinal) {
        <p class="final mt-1">نهائي</p>
        }
      </div>

      <h6>
        <small>
          الفرع: <span>{{ item.branch_name }}</span></small>
      </h6>
      <h6>
        <small>العنوان: <span>{{ item.branch_address }}</span></small>
      </h6>
      <h6>
        <small>رقم التليفون: <span>{{ item.branch_phone }}</span></small>
      </h6>
      <h6>
        <small>التاريخ و الوقت: <span>{{ date }} / {{ time }}</span></small>
      </h6>
      <h6>
        <small>رقم الفاتورة: <span>{{ item.invoice_number }}</span></small>
      </h6>
      <h6>
        <small>
          اسم الكاشير:
          <span>{{ invoices[0].cashier_info.first_name }} &nbsp;
            {{ invoices[0].cashier_info.last_name }}
          </span></small>
      </h6>
      <hr />
      <p>
        <small class="fw-bold">رقم الطلب :{{ item.order_number }}</small>
      </p>

      <div *ngIf="hasDineInOrder()">
        <!-- <h6>
          <span class="fw-bold">رقم الطلب:</span> {{ item?.order_number }}
        </h6> -->

        <h6>
          <span class="fw-bold">رقم الطاولة:</span> {{ item.table_number }}
        </h6>
      </div>
    </div>

    <!-- Conditionally display client data for delivery orders -->
    <ng-container *ngIf="test && (!showPrices || showPrices)">
      <div class="client-data mb-3" *ngIf="isDeliveryOrder">
        <!-- <h6>
    رقم الطلب: <span>{{ branchDetails?.[0]?.order_number ?? 'لا يوجد' }}</span>
  </h6> -->
        <h6>
          اسم العميل:
          <span>{{ addressDetails?.[0]?.client_name ?? 'لا يوجد' }}</span>
        </h6>
        <h6>
          رقم التليفون:
          <span>{{ addressDetails?.[0]?.address_phone ?? 'لا يوجد' }}</span>
        </h6>
        <h6>
          اسم الطيار:
          <span>{{ invoices?.[0]?.delivery_name && invoices[0].delivery_name.trim() !== '' ? invoices[0].delivery_name :
            'لا يوجد' }}</span>
        </h6>

        <h6>
          عنوان التوصيل:
          <span>{{ addressDetails?.[0]?.client_address ?? 'لا يوجد' }}</span>
        </h6>
        <h6>
          تعليمات التوصيل:
          <span>{{ addressDetails?.[0]?.address_notes ?? 'لا يوجد' }}</span>
        </h6>
      </div>
    </ng-container>

    <table class="table table-bordered">
      <thead class="text-center">
        <tr>
          <th scope="col">الصنف</th>
          <th scope="col">الكمية</th>
          <th scope="col" *ngIf="test && (!showPrices || showPrices)">السعر</th>
          <th scope="col" *ngIf="test && (!showPrices || showPrices)">
            الاجمالي
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of orderDetails[0]">
          <td>
            <div>
              <div>
                <small class="fw-bold">{{ item.dish_name }}</small>
              </div>
              <div class="pe-2">{{ item.size }}</div>
              <div class="pe-2" *ngFor="let addon of item.addons">
                <small class="text-muted fst-italic fw-semibold">- {{ addon.addon_name }}</small>
              </div>

            </div>
          </td>
          <td>{{ item.quantity }}</td>
          <td *ngIf="test && (!showPrices || showPrices)">
            {{ item.total_dish_price / item.quantity | number }}
            {{ invoiceSummary[0].currency_symbol }}
          </td>
          <td *ngIf="test && (!showPrices || showPrices)">
            {{ item.total_dish_price | number }}
            {{ invoiceSummary[0].currency_symbol }}
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <table class="table table-bordered pill-content mb-4">
      <thead>
        <tr>
          <th scope="col">الإضافات</th>
          <th scope="col">ملاحظات</th>
          <th scope="col">الاجمالي</th>
          <th scope="col">الحجم</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of orderDetails[0]">
          <td class="addons">
            <small>{{ item.addons.length > 0 ? item.addons.join(', ') : 'لا توجد اضافات' }}</small>
          </td>
          <td class="note">
            <small>{{ item.note ? item.note : 'لا توجد ملاحظات' }}</small>
          </td>
          <td class="price-total">
            {{ item.quantity * item.total_dish_price | number }} {{ invoiceSummary[0].currency_symbol }}
          </td>
          <td class="size">
            <small>{{ item.size ? item.size : 'لا يوجد حجم' }}</small>
          </td>
        </tr>
      </tbody>
    </table> -->
    <ng-container>
      <div class="total-data border-bottom-dotted mb-3" *ngFor="let item of invoiceSummary">
        <div *ngIf="showPrices && test">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <h6 class="fw-bold">الاجمالي:</h6>
            <span class="fw-bold">{{ item.subtotal_price_before_coupon }} {{ item.currency_symbol }}</span>
          </div>
          <div class="d-flex justify-content-between mb-1 fw-bold" *ngIf="
              item.tax_application !== 0 &&
              item.coupon_value !== '0.00' &&
              item.coupon_value !== 0
            ">
            <h6>تخفيض:
              <span class="btn-static-secondary p-1 rounded">{{ invoices[0].invoice_summary.coupon_title
                }} </span>
            </h6>
            <span>-{{ item.coupon_value }} {{ item.currency_symbol }}</span>
          </div>
          <div class="d-flex justify-content-between fw-bold mb-1" *ngIf="item.service_percentage">
            <h6>
              رسوم الخدمة
              <span class="main-color">
                بنسبة {{ item.service_percentage }} %
              </span>
            </h6>
            <span>{{ item.service_fees }} {{ item.currency_symbol }}</span>
          </div>
        </div>
        <ng-container *ngIf="test && (!showPrices || showPrices)">
          <div *ngIf="hasDeliveryOrDineIn()" class="d-flex justify-content-between fw-bold">
            <h6>التوصيل:</h6>
            <span>{{ item.delivery_fees }} {{ item.currency_symbol }}</span>
          </div>
        </ng-container>

        <!-- Payment Method -->
        <ng-container *ngIf="test && (!showPrices || showPrices)">
          <div class="d-flex justify-content-between align-items-center fw-bold py-2">
            <h6 class="mb-0">طريقة الدفع:</h6>
            <p class="mb-0">
              {{
              invoices[0]?.transactions[0].payment_method === "credit"
              ? "أونلاين"
              : "كاش"
              }}
            </p>
          </div>
        </ng-container>
        <ng-container *ngIf="test && (!showPrices || showPrices)">
          <div class="d-flex justify-content-between align-items-center py-2">
            <!---  *ngIf="
              invoices[0].order_type === 'Delivery' ||
              invoices[0].order_type === 'Takeaway'
            " -->
            <h6 class="mb-0 fw-bold">حالة الدفع:</h6>
            <p class="mb-0 fw-bold">
              {{ paymentStatus === "paid" ? "مدفوعة" : "غير مدفوعة" }}
            </p>
          </div>
        </ng-container>
        <!-- Cash - visa -->
        <div *ngIf="invoices[0].transactions.length > 1">
          <div *ngFor="let inv of invoices[0].transactions">
            <div class="d-flex justify-content-between align-items-center my-1 fw-bold"
              *ngIf="invoices[0].transactions[0].payment_status == 'paid'">
              <div>
                {{ inv.payment_method === "cash" ? " الكاش" : " الفيزا" }}
              </div>
              <div>{{ inv.paid }} {{ invoices[0].currency_symbol }}</div>
            </div>
          </div>
        </div>
        <!-- Cash - visa -->
        <ng-container *ngIf="test && (!showPrices || showPrices)">
          <!-- <div class="px-2 mb-1" *ngIf="!item.tax_application">
            <h6>
              تضاف ضريبة القيمة المضافة بنسبة
              <span class="main-color">{{ item.tax_percentage }}% </span> بمعنى
              اخر {{ item.tax_value }} {{ item.currency_symbol }}
            </h6>
          </div> -->
          <div class="px-2 mb-1" *ngIf="!item.tax_application">
            <h6>
              تضاف ضريبة القيمة المضافة
              <span class="main-color">بنسبة {{ item.tax_percentage }}% </span>
              بمعني اخر
              {{ item.tax_value }} {{ item.currency_symbol }}
            </h6>
          </div>
        </ng-container>
        <hr />
        <!-- Total price -->
        <ng-container *ngIf="test && (!showPrices || showPrices)">
          <div class="total-price my-2" *ngFor="let item of invoiceSummary">
            <div class="d-flex justify-content-between align-items-center fw-bold">
              <h6 class="fw-bold">المجموع الكلي:</h6>
              <span>{{ item.total_price }} {{ item.currency_symbol }}</span>
            </div>
          </div>
        </ng-container>

        <!-- Payment Status -->

        <div *ngIf="item.tax_application" class="include-tax d-flex justify-content-between fw-bold">
          <small> سعر الوجبات يشتمل على ضريبة القيمة المضافة </small>
        </div>
      </div>
    </ng-container>

     <!-- tips -->
     <div class="tips-section" *ngIf="invoiceTips.length > 0">
      <hr />
      <div *ngFor="let tip of invoiceTips" class="mb-3">
        <div class="d-flex justify-content-between px-2 mb-1">
          <h5 class="mb-0 fw-bold">
            الدفع - {{ tip.payment_method === 'cash' ? 'كاش' : 'فيزا' }}
          </h5>
          <h6 class="fw-bold mb-0">
            <span>{{ tip.payment_amount | number: '1.2-2' }} {{
              item.currency_symbol || 'ج.م' }}</span>
          </h6>
        </div>

        <div class="d-flex justify-content-between px-2 mb-1">
          <h5 class="mb-0 fw-bold">
            المبلغ الباقى للعميل
          </h5>
          <h6 class="fw-bold mb-0">
            <span>{{ tip.returned_amount | number: '1.2-2' }} {{
              item.currency_symbol || 'ج.م' }}</span>
          </h6>
        </div>

        <div class="d-flex justify-content-between px-2 mb-1">
          <h5 class="mb-0 fw-bold">
            الاكرامية
          </h5>
          <h6 class="fw-bold mb-0">
            <span>{{ tip.tip_amount | number: '1.2-2' }} {{
              item.currency_symbol || 'ج.م' }}</span>
          </h6>
        </div>
        <div class="d-flex justify-content-between px-2 mb-1">
          <h5 class="mb-0 fw-bold">
            المجموع مع الاكرامية
          </h5>
          <h6 class="fw-bold mb-0">
            <span>{{ tip.total_with_tip | number: '1.2-2' }} {{
              item.currency_symbol || 'ج.م' }}</span>
          </h6>
        </div>
      </div>

      <!-- dalia end -->
    </div>


    <h6 class="text-center my-3">شكرا لثقتكم بخدمتنا</h6>

    <div class="card-img-qr d-flex justify-content-center align-items-center mb-3">
      <img src="assets/images/qrcode.png" alt="مطعم الكوت" class="img-fluid" />
    </div>

    <div class="tax-num text-start">
      <h6>الرقم الضريبي <span>675170532</span></h6>
    </div>
  </div>
</div>
<!-- <p-confirmDialog
      header="تأكيد"
      icon="pi pi-exclamation-triangle"
    ></p-confirmDialog> -->

<app-confirm-dialog #confirmPrintDialog (actionResult)="printInvoice($event)" [header]="'تأكيد'"
  message='هل هذه الطباعة النهائية؟' [acceptLabel]="'نعم'" [rejectLabel]="'لا'"></app-confirm-dialog>
