<section class="sidebar">
  <div class="upper desktop-view">
    <img src="assets/images/logo.png" class="sidebar-logo">
    <ul class="sidebar-menu list-unstyled px-0 py-3">
      <li class="sidebar-item active">
        <a routerLink="/home" class="sidebar-link" routerLinkActive="active_link" [routerLinkActiveOptions]="{exact:
          true}">
          <img src="assets/images/chicken.png" />
          <span class="pe-3">القائمة</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a routerLink="/orders" class="sidebar-link" routerLinkActive="active_link" [routerLinkActiveOptions]="{exact:
          true}">
          <img src="assets/images/orders-icon.png" />
          <span class="pe-3">الطلبات</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a routerLink="/tables" class="sidebar-link" routerLinkActive="active_link" [routerLinkActiveOptions]="{exact:
          true}">
          <img src="assets/images/tables-icon.png" />
          <span class="pe-3">الطاولات</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a routerLink="/pills" class="sidebar-link" routerLinkActive="active_link" [routerLinkActiveOptions]="{exact:
          true}">
          <img src="assets/images/pills-icon.png" />
          <span class="pe-3">الفواتير</span>
        </a>
      </li>

    </ul>

  </div>
  <div class="lower desktop-view">
    <ul class="sidebar-menu list-unstyled p-0">

      <li class="sidebar-item">
        <a routerLink="/settings" class="sidebar-link" routerLinkActive="active_link" [routerLinkActiveOptions]="{exact:
          true}">
          <img src="assets/images/settings.png" />
          <span class="pe-3">الإعدادات</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="#" data-bs-toggle="modal" data-bs-target="#logoutModal" class="sidebar-link">
          <img src="assets/images/logout.png" />
          <span class="pe-3">تسجيل الخروج</span>
        </a>
      </li>

      <!-- transfer money  -->
      <li class="sidebar-item">
        <button class="transfer-money-btn" (click)="openTransferMoneyModal()">تحويل النقدية</button>
      </li>

    </ul>
    <img class="man-img" src="assets/images/cashier2.png" alt="">
  </div>
</section>
<!-- ==================== Logout Confirmation Modal ==================== -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <i class="fa-solid fa-right-from-bracket main-color fs-2"></i>
        <h5 class="fw-bold">سيتم تسجيل خروجك ؟</h5>
      </div>
      <div class="modal-footer border-0 justify-content-center gap-5">
        <!-- Bind تأكيد button to confirmLogout method -->
        <button type="button" class="btn btn text-white w-25" (click)="confirmLogout()">تأكيد</button>
        <button type="button" class="btn btn-transparent w-25" data-bs-dismiss="modal">إلغاء</button>
      </div>
    </div>
  </div>
</div>



<!-- ==================== Balance Out Modal ==================== -->
<!-- <div class="modal fade" id="balanceoutModal" tabindex="-1" aria-labelledby="balanceoutModalLabel" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content  border-0">
      <div class="modal-body">
        <div class="d-flex justify-content-center border-0">
          <img src="assets/images/logo-with-white-bg.png" alt="Placeholder Logo" height="70">
        </div>
        <h5 class="text-dark fw-bold text-center">مرحبا</h5>
        <h5 class="main-color fw-bold text-center">فرع <span>{{ branch || 'الفرع' }} </span></h5>
        <div class="card p-3 my-2">
          <div class="row">
            <div class="col-12">
              <p class="text-muted">
                <span>تاريخ اليوم: {{ shiftData?.day || 'التاريخ' }}</span>,
                <span>{{ shiftData?.time || 'التوقيت' }}</span>
              </p>
            </div>
            <div class="col-6 user d-flex  justify-content-start">
              <img [src]="imageUrl" (error)="imageUrl = 'assets/images/user.png'" alt="User Image">

              <div class="user-info">
                <h6>{{ fullName || 'الاسم' }}</h6>
                                <h6 class="text-muted"><small>كاشير</small></h6>
              </div>
            </div>
            <div class="col-6">
              <h6 class="fw-bold"><i class="fa-solid fa-clock main-color"></i> مواعيد العمل</h6>
              <h6 class="fw-bold">شفت<span> {{ shiftData?.shift_type || 'Shift Type' }}</span></h6>
              <h6 class="text-muted">
                <small>
                  من الساعة
                  <span>{{ formatTime(shiftData?.shift_start) }}</span>
                  إلى
                  <span>{{ formatTime(shiftData?.shift_end) }}</span>
                </small>
              </h6>

            </div>
          </div>
        </div>
        <div class="data p-2">
          <h5>من فضلك أدخل البيانات التالية</h5>
            <h6 class=" text-danger">  برجاء ادخال المبلغ الموجود في الدرج حاليا لغلق الوردية     </h6>
          <h6><small><i class="fa-solid fa-money-bill main-color ms-1"></i>المبلغ النقدي الحالي</small></h6>
          <div class="input-group position-relative mb-3">
            <input
            type="number"
            class="form-control"
            id="cashInput"
            [(ngModel)]="enteredCash"
            [class.is-invalid]="errorMessage"
            placeholder="أدخل المبلغ النقدي"
            required
            min="0"
          >
          </div>


          <h6 class="error-msg main-color" *ngIf="errorMessage">
            <small>{{ errorMessage }}</small>
          </h6>

          <h6><small><i class="fa-solid fa-money-bills main-color ms-1"></i>إجمالي مدفوعات البطاقة</small></h6>
          <h5 class="fw-bold">{{ closeVisa }} {{ currency_Symbol }}</h5>
        </div>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn text-white w-100" (click)="validateAndSave()">
          حفظ
        </button>
      </div>
    </div>
  </div>
</div>  -->

<div class="modal fade" id="balanceoutModal" tabindex="-1" aria-labelledby="balanceoutModalLabel" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content border-0">
      <div class="modal-body">
        <div class="d-flex justify-content-center border-0">
          <img src="assets/images/logo-with-white-bg.png" alt="Placeholder Logo" height="70">
        </div>
        <h5 class="text-dark fw-bold text-center">مرحبا</h5>
        <h5 class="main-color fw-bold text-center">فرع <span>{{ branch || 'الفرع' }} </span></h5>

        <div class="card p-3 my-2">
          <div class="row">
            <div class="col-12">
              <p class="text-muted">
                <span>تاريخ اليوم: {{ shiftData?.day || 'التاريخ' }}</span>,
                <span>{{ shiftData?.time || 'التوقيت' }}</span>
              </p>
            </div>
            <div class="col-6 user d-flex justify-content-start">
              <img [src]="imageUrl" (error)="imageUrl = 'assets/images/user.png'" alt="User Image"
                class="user-img-modal">
              <div class="user-info">
                <h6>{{ fullName || 'الاسم' }}</h6>
                <h6 class="text-muted"><small>كاشير</small></h6>
              </div>
            </div>
            <div class="col-6">
              <h6 class="fw-bold"><i class="fa-solid fa-clock main-color"></i> مواعيد العمل</h6>
              <h6 class="fw-bold">شفت<span> {{ shiftData?.shift_type || 'Shift Type' }}</span></h6>
              <h6 class="text-muted">
                <small>
                  من الساعة
                  <span>{{ formatTime(shiftData?.shift_start) }}</span>
                  إلى
                  <span>{{ formatTime(shiftData?.shift_end) }}</span>
                </small>
              </h6>
            </div>
          </div>
        </div>

        <!-- Updated deficit message display -->
        <div *ngIf="currentBalance" class="text-center alert-warning"
          [class.alert-success]="currentBalance.deficitCash === 0 && currentBalance.deficitVisa === 0"
          [class.alert-warning]="currentBalance.deficitCash !== 0 || currentBalance.deficitVisa !== 0">

          <h6 *ngIf="currentBalance.deficitCash !== 0" class="alert alert-warning w-100">
            <h6 class="text-center"><i class="fas fa-exclamation-triangle me-2"></i>تنبيه!</h6>
            فارق نقدي {{ currentBalance.deficitCash }} {{ currency_Symbol }}
          </h6>

          <h6 *ngIf="currentBalance.deficitVisa !== 0" class="alert alert-warning w-100">
            <h6 class="text-center"><i class="fas fa-exclamation-triangle me-2"></i>تنبيه!</h6>
            فارق إلكتروني {{ currentBalance.deficitVisa }} {{ currency_Symbol }}
          </h6>
        </div>

        <div *ngIf="currentBalance" class="card p-3 my-2">
          <h6 class="fw-bold text-center"> رصيد الورديه السابقة</h6>
          <div class="row">
            <div class="col-4 text-center">
              <small class="text-muted">نقدي</small>
              <h6 class="fw-bold">{{ currentBalance.cash | number:'1.2-2' }} {{ currency_Symbol }}</h6>
            </div>
            <div class="col-4 text-center">
              <small class="text-muted">إلكتروني</small>
              <h6 class="fw-bold">{{ visaTotal | number:'1.2-2' }} {{ currency_Symbol }}</h6>
            </div>
            <div class="col-4 text-center">
              <small class="text-muted">الإجمالي</small>
              <h6 class="fw-bold">{{ currentBalance.total | number:'1.2-2' }} {{ currency_Symbol }}</h6>
            </div>
          </div>
        </div>
        <!-- Input Form -->
        <div class="data p-2">
          <h5>من فضلك أدخل البيانات التالية</h5>
          <h6 class="text-danger">برجاء ادخال المبالغ الموجودة حاليا لغلق الوردية</h6>

          <!-- Cash Input -->
          <h6><small><i class="fa-solid fa-money-bill main-color ms-1"></i>المبلغ النقدي الحالي</small></h6>
          <!-- Cash Input -->
          <div>
            <!-- <h6><small><i class="fa-solid fa-money-bill main-color ms-1"></i>المبلغ النقدي الحالي</small></h6> -->
            <div class="input-group position-relative mb-3">
              <input type="number" class="form-control custom-cursor" id="cashInput" [(ngModel)]="enteredCash"
                (input)="onCashInput($event)" [class.is-invalid]="errorMessage" placeholder="أدخل المبلغ النقدي"
                [readOnly]="formSubmitted" required min="0">
            </div>
          </div>

          <!-- Visa Input -->
          <h6><small><i class="fa-solid fa-credit-card main-color ms-1"></i>إجمالي مدفوعات البطاقة</small></h6>
          <div *ngIf="visaTotal !== null" class="input-group position-relative mb-3">
            <h3 class="bg-grey p-3">{{ visaTotal }} {{ currency_Symbol }}</h3>
          </div>
          <div *ngIf="errorMessage" class="mt-2">
            <small class="text-danger">{{ errorMessage }}</small>
          </div>
        </div>
      </div>

      <div class="modal-footer border-0">
        <button *ngIf="showDeficitMessage && !showDeficitMessage2" type="button" class="btn btn-primary w-100 py-2"
          (click)="validateAndSave(true)">
          <i class="fas fa-check-circle me-2"></i>تسجيل خروج
        </button>
        <button *ngIf="showDeficitMessage2" type="button" class="btn btn-primary w-100 py-2" (click)="setLog()">
          <i class="fas fa-check-circle me-2"></i> استمرار
        </button>

        <button *ngIf="!showDeficitMessage && !formSubmitted" type="button" class="btn btn-primary w-100 py-2"
          (click)="validateAndSave()">
          <i class="fas fa-save me-2"></i> حفظ
        </button>
      </div>
    </div>
  </div>
</div>


<!-- <nav class="navbar navbar-expand-lg mobile-view">
  <div class="container">
    <a class="navbar-brand">
      <img src="assets/images/logo.png" class="sidebar-logo" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="sidebar-menu list-unstyled px-0 py-3">
        <li class="sidebar-item active">
          <a routerLink="/home" class="sidebar-link" routerLinkActive="active_link" [routerLinkActiveOptions]="{exact: true}">
            <img src="assets/images/chicken.png"/>
            <span class="pe-3">القائمة</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a routerLink="/orders" class="sidebar-link" routerLinkActive="active_link" [routerLinkActiveOptions]="{exact: true}">
            <img src="assets/images/orders-icon.png" />
            <span class="pe-3">الطلبات</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a routerLink="/tables" class="sidebar-link" routerLinkActive="active_link" [routerLinkActiveOptions]="{exact: true}">
            <img src="assets/images/tables-icon.png" />
            <span class="pe-3">الطاولات</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a routerLink="/pills" class="sidebar-link" routerLinkActive="active_link" [routerLinkActiveOptions]="{exact: true}">
            <img src="assets/images/pills-icon.png" />
            <span class="pe-3">الفواتير</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a routerLink="/settings" class="sidebar-link" routerLinkActive="active_link" [routerLinkActiveOptions]="{exact: true}">
            <img src="assets/images/settings.png" />
            <span class="pe-3">الإعدادات</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a  data-bs-toggle="modal" data-bs-target="#logoutModal" class="sidebar-link">
            <img src="assets/images/logout.png" />
            <span class="pe-3">تسجيل الخروج</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

-->
<!-- ==================== Transfer Money Modal ==================== -->
<div class="modal fade" id="transferMoneyModal" tabindex="-1" aria-labelledby="transferMoneyModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header ">
        <div class="row">
          <div class="col-12">
            <button type="button" class="btn btn-close " data-bs-dismiss="modal" aria-label="Close"
              (click)="closeModal()"></button>
          </div>
        </div>
        <div class="col-12">
          <h4 class="modal-title text-center main-color" id="transferMoneyModalLabel">تحويل النقدية إلى الخزنة</h4>
        </div>
      </div>
      <div class="modal-body py-3 alert-warning">
        <h6 class=" alert alert-warning w-100 text-center" *ngIf="alertError">
          <h6 class="text-center"> <i class="fas fa-exclamation-triangle me-2"></i>تنبيه! </h6>
          <p class="text-center pt-2">{{alertError}}</p>
        </h6>

        <form (ngSubmit)="transferMoney()">
          <div class="my-3">
            <div class="pb-2">
              <h6 for="amountInput" class="form-label">ادخل المبلغ المراد تحويله </h6>
            </div>
            <input type="number" class="form-control custom-cursor" id="amountInput" [(ngModel)]="transferAmount"
              name="amount" placeholder="أدخل المبلغ" required min="0.01" step="0.01"
              [readOnly]="transferSuccess !== null">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label fw-bold"> ادخل السبب </label>
            <textarea class="form-control custom-cursor" id="exampleFormControlTextarea1" rows="3"
              [readOnly]="transferSuccess !== null" placeholder=" ادخل السبب" name="reason"
              [(ngModel)]="reason"></textarea>
          </div>
          <div *ngIf="transferError" class="alert alert-danger mt-3 text-center">
            {{ transferError }}
          </div>
          <div *ngIf="reasonError" class="alert alert-danger mt-3 text-center">
            {{ reasonError }}
          </div>
          <div *ngIf="transferSuccess" class="alert alert-success mt-3 text-center">
            {{ transferSuccess }}
          </div>
          <div class="modal-footer d-flex gap-1 p-0">

            <button type="submit" class="btn btn-secondary w-100" [disabled]="isTransferring || transferSuccess"
              *ngIf="!alertError">
              <span *ngIf="!isTransferring">إرسال</span>
              <span *ngIf="isTransferring">
                <i class="fas fa-spinner fa-spin"></i> جاري التحويل...
              </span>
            </button>
            <button type="submit" class="btn btn-secondary w-100" *ngIf="alertError" (click)="CloseTheModalAndClear()">
              <i class="fas fa-check-circle px-2"></i>
              <span>استمرار</span>
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<!-- <ng-container *ngTemplateOutlet="print "></ng-container> -->


<!-- <ng-template  #print> -->
@if(printingData){
<div id="print-section" class="fw-bold  d-none">

  <div id="body-logo" class="mb-2">
    <img src="../assets/images/Group.png" id="logo" alt="" srcset="" class="w-100">
  </div>
  <div class="mb-0 mt-2 " style="margin-bottom: 0px;">
    <span class="total">{{printingData?.branch}}</span>
    <p class="total" style="margin-bottom: 0px;"><span>ملخص وردية المطعم :</span> <span class="fw-normal"> 24
        ساعة</span> </p>
  </div>
  <div class="total">
    <span>من : </span>
    <span class="fw-normal">{{printingData?.start_shift}}</span>
  </div>
  <div class="total">
    <span>الي : </span>
    <span class="fw-normal">{{printingData?.end_shift}}</span>
  </div>



  <div class="dots mt-2">
    <p class="total"><span> وقت طباعة الوردية:</span> <span class="fw-normal"> {{printTime}}</span> </p>
  </div>

  <div class="mt-2 total">
    <span>المستخدم : </span>
    <span class="fw-normal">{{printingData?.cashier_name}}</span>

  </div>
  <div class="total">
    <span>مدير الفرع : </span>
    <span class="fw-normal">{{printingData?.branchManeger}}</span>

  </div>
  <div class="total">
    <span>مجموع مبلغ الفتح (العهدة) : </span>
    <span class="fw-normal">{{printingData?.open_balance}} ج.م</span>
  </div>
  <div class="line total">
    <span> العملة : </span>
    <span class="fw-normal"> ج.م</span>
  </div>
  <p class="text-center fw-bold my-2 total">اجمالي المدفوعات</p>
  <div class="border border-1 border-black">
    <div class=" table-content">
      <span> عدد الاوردرات </span>
      <span>{{printingData?.orders_number}}</span>
    </div>
    <div class=" table-content">
      <span> صافي مبلغ نقدية </span>
      <span>{{printingData?.cashTotal}}</span>
    </div>

    <div class="table-content">
      <span> صافي مبلغ بطاقة </span>
      <span>{{printingData?.visaTotal}}</span>
    </div>


    <div class="table-content">
      <span> إجمالي الصافي </span>
      <span>{{ (printingData?.visaTotal + printingData?.cashTotal) | number }}</span>
    </div>
    <!-- <div class="table-content">
      <span> مبيعات </span>
      <span>{{printingData?.totalSales}} </span>
    </div>
 <div class="table-content">
      <span> مبيعات نقدية </span>

      <span>{{printingData?.cashTotalwithoutRefund}}</span>
    </div>
  <div class="table-content">
      <span> مبيعات بطاقة </span>
      <span>{{printingData?.visaTotalwithoutRefund}} </span>
    </div>  -->
    <!--    <div class="table-content">
      <span> خدمة </span>
      <span>{{printingData?.service.toFixed(2)}} </span>
    </div>
    <div class="table-content">
      <span> ضريبة القيمة المضافة </span>
      <span>{{printingData?.Tax.toFixed(2)}} </span>
    </div> -->
  </div>

  <p class="text-center fw-bold my-2 total"> اجمالي تفاصيل العهدة</p>
  <div class="border border-1 border-black">
    <div class=" table-content">
      <span> النقدية المتوقعة </span>
      <span>{{printingData?.cashTotalwithoutRefund}} </span>
    </div>

    <div class="table-content">
      <span> النقدية الموجودة </span>
      <span>{{printingData?.actualAmount}} </span>
    </div>
    <div class="table-content">
      <span> الفرق </span>

      <span>{{printingData?.deffictCash}} </span>
    </div>

  </div>


  <!--   <p class="text-center fw-bold my-2 total"> الإكرامية</p>
  <div class="border border-1 border-black">
    <div class=" table-content">
      <span> اجمالي اكرامية نقدية </span>
      <span>0 ج.م</span>
    </div>

    <div class="table-content">
      <span> اجمالي اكرامية بطاقة </span>
      <span>{{printingData?.totalSales}} </span>
    </div>

  </div> -->

  <p class="text-center fw-bold my-2 total"> اجمالي المرتجعات</p>
  <div class="border border-1 border-black">
    <div class=" table-content">
      <span> عدد الطلبات المرتجعة </span>
      <span>{{printingData?.orders_number_refund}}</span>
    </div>

    <div class="table-content">
      <span> مبيعات المرتجع </span>
      <span>{{printingData?.priceRefund}} </span>
    </div>

  </div>
  <p class="text-center fw-bold my-2 total"> اجمالي الخصومات</p>
  <div class="border border-1 border-black">
    <div class=" table-content">
      <span> مبلغ الخصم </span>
      <span>{{printingData?.couponTotalFixed}}</span>
    </div>


  </div>
  <p class="text-center fw-bold my-2 total"> المبيعات</p>
  <div class="border border-1 border-black">
    <div class="table-content">
      <span> مبيعات </span>
      <span>{{printingData?.totalSales}} </span>
    </div>
    <div class="table-content">
      <span> مبيعات نقدية </span>

      <span>{{printingData?.cashTotalwithoutRefund}}</span>
    </div>
    <div class="table-content">
      <span> مبيعات بطاقة </span>
      <span>{{printingData?.visaTotalwithoutRefund}} </span>
    </div>


  </div>
  <div *ngIf="printingData?.categories.length>0">

    <p class="text-center fw-bold my-2 total"> الفئات</p>
    <div *ngFor="let item of printingData?.categories">
      <div class="border border-1 border-black border-bottom-0 ll">


        <div class="table-content">
          <span> {{ item.name }} </span>
          <span>{{ item.quantity }}</span>
        </div>

      </div>
    </div>

  </div>
  <p class="text-center fw-bold my-2 total"> طلبات التابع لطلبات</p>
  <div class="border border-1 border-black">
    <div class="table-content">
      <span> العدد الاجمالى </span>
      <span>{{printingData?.talabatcount}} </span>
    </div>
    <div class="table-content">
      <span> عدد الكاش للطلبات</span>
      <span>{{printingData?.talabat_cash_count}}</span>
    </div>
    <div class="table-content">
      <span> مبيعات كاش للطلبات</span>
      <span>{{printingData?.talabatcash}} </span>
    </div>
    <div class="table-content">
      <span> عدد الفيزا للطلبات</span>
      <span>{{printingData?.talabat_visa_count}}</span>
    </div>
    <div class="table-content">
      <span> مبيعات أجل للطلبات</span>
      <span>{{printingData?.talabatvisa}} </span>
    </div>


  </div>

  <footer class="mt-3">
    <div class="d-flex justify-content-between align-items-center fw-bold">
      <p>شكرا لثقتكم بخدمتنا</p>
      <p>
        <img src="assets/images/vaadin_qrcode.png" />
      </p>
    </div>

    <div class=" text-white py-3 px-2" id="dd">
      <img src="assets/images/bk2224.png" class="img" alt="" srcset="" w-100>
      <div class="footer d-flex justify-content-between align-items-center">
        <p>{{branchData.address}}</p>
        <p>{{ printTime | date:'dd/MM/yyyy' }}</p>
      </div>
    </div>
  </footer>

</div>
}
<!-- </ng-template> -->
